@page "/Products"
@inherits ProductAdds
<h3>Products</h3>
@if(ProductFromApi == null ){
    <DisplaySpinner/>

    <h4> Loading products..............................</h4>
}
else
{
    
    var productCount = ProductFromApi.Count();
    @if(productCount>0){
        const int itemsPerRow = 4;
        var ProductToDisplay = new List<ProductDTO?>();
        @for( int i=0; i<productCount; i++)
        {
            ProductToDisplay = ProductFromApi.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
            <div  class="row mt-3">
                @foreach (var item in ProductToDisplay)
                {
                <DisplayProducts Product="@item"></DisplayProducts>
                }
            </div> 
        }
             

    }
}


